__pycache__/
*.py[cod]
.venv/

# Unity
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]ser[Ss]ettings/
unity/[Mm]emoryCaptures/
unity/*.csproj
unity/*.sln
unity/*.unityproj
